.main {
  position: relative;
  background: #ffd300;
  flex: 1;
  padding: 2rem;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;

}

.image {
  height: 33%;
  margin-block: 10%;
}

.arrow {
  height: 25px;
  width: 25px;
}

.arrowButton {
  height: 50px;
  width: 50px;
  border: none;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #373d40;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrowButtonOpen {
  composes: arrowButton;
  transform: rotate(-180deg);
}