*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: stretch;
  font-size: 20px;
  color: #373d40;
}

input,
input:focus {
  border: unset;
  border-color: unset;
  outline: unset;
}